<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    {% include dc.html %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.css" integrity="sha256-P+hWJNlpL+GBSRYC7cdsDbQH91URmpDeOzLp7DbFRtE=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.fullscreen@5.3.3/dist/Control.FullScreen.css" integrity="sha256-00uVBwpUWoFTANYpjnprD2T1iCX7RowwV4hz+XLYpMw=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.89.0/dist/L.Control.Locate.css" integrity="sha256-7HwpxrGzvfi5JrqaQUpCYQTxGOsvS93OIxcoGJP64mc=" crossorigin="anonymous">
    {%- if site.google_analytics -%}
        {%- include google-analytics.html -%}
    {%- endif -%}
    {% include favicons.html %}
    {% include custom-head.html %}
</head>
