@font-face {
  font-family: 'spacefinder';
  src: url('../font/spacefinder.eot?1445334');
  src: url('../font/spacefinder.eot?1445334#iefix') format('embedded-opentype'),
       url('../font/spacefinder.woff2?1445334') format('woff2'),
       url('../font/spacefinder.woff?1445334') format('woff'),
       url('../font/spacefinder.ttf?1445334') format('truetype'),
       url('../font/spacefinder.svg?1445334#spacefinder') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'spacefinder';
    src: url('../font/spacefinder.svg?1445334#spacefinder') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "spacefinder";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-views:before { content: '\e600'; } /* '' */
.icon-close:before { content: '\e602'; } /* '' */
.icon-coffee:before { content: '\e603'; } /* '' */
.icon-computer:before { content: '\e604'; } /* '' */
.icon-desk:before { content: '\e605'; } /* '' */
.icon-laptop:before { content: '\e607'; } /* '' */
.icon-list:before { content: '\e608'; } /* '' */
.icon-marker:before { content: '\e609'; } /* '' */
.icon-music:before { content: '\e60a'; } /* '' */
.icon-no-wifi:before { content: '\e60b'; } /* '' */
.icon-phone:before { content: '\e60c'; } /* '' */
.icon-power:before { content: '\e60d'; } /* '' */
.icon-printer:before { content: '\e60e'; } /* '' */
.icon-projector:before { content: '\e60f'; } /* '' */
.icon-search:before { content: '\e610'; } /* '' */
.icon-sound-0:before { content: '\e611'; } /* '' */
.icon-sound-1:before { content: '\e612'; } /* '' */
.icon-sound-2:before { content: '\e613'; } /* '' */
.icon-sound-3:before { content: '\e614'; } /* '' */
.icon-sun:before { content: '\e615'; } /* '' */
.icon-time-long:before { content: '\e616'; } /* '' */
.icon-time-short:before { content: '\e617'; } /* '' */
.icon-toilet:before { content: '\e618'; } /* '' */
.icon-whiteboard:before { content: '\e619'; } /* '' */
.icon-wifi:before { content: '\e61a'; } /* '' */
.icon-tick:before { content: '\e61b'; } /* '' */
.icon-loading:before { content: '\e61c'; } /* '' */
.icon-arrow-left:before { content: '\e61d'; } /* '' */
.icon-arrow-up:before { content: '\e61e'; } /* '' */
.icon-arrow-right:before { content: '\e61f'; } /* '' */
.icon-arrow-down:before { content: '\e620'; } /* '' */
.icon-pencil:before { content: '\e621'; } /* '' */
.icon-callout:before { content: '\e622'; } /* '' */
.icon-drink:before { content: '\e800'; } /* '' */
.icon-disabled:before { content: '\e801'; } /* '' */
.icon-access:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-address:before { content: '\e804'; } /* '' */
.icon-resize-full:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-resize-small:before { content: '\e807'; } /* '' */
.icon-bench:before { content: '\e822'; } /* '' */
.icon-public:before { content: '\e900'; } /* '' */
.icon-adjustable-furniture:before { content: '\e901'; } /* '' */
.icon-individual-space:before { content: '\e902'; } /* '' */
.icon-neutral-toilets:before { content: '\e903'; } /* '' */
.icon-bike-rack:before { content: '\e904'; } /* '' */
.icon-smoking-area:before { content: '\e905'; } /* '' */
.icon-baby-changing:before { content: '\e906'; } /* '' */
.icon-prayer-room:before { content: '\e907'; } /* '' */
.icon-disabled-parking:before { content: '\e908'; } /* '' */
.icon-disabled-toilet:before { content: '\e909'; } /* '' */
.icon-hearing-loop:before { content: '\e90a'; } /* '' */
.icon-my-location:before { content: '\e90b'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-universal-access:before { content: '\f29a'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
